.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c68ea1;
  min-height: 682px;
}

.title {
  display: flex;
  flex-direction: column;
}
