.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c68ea1;
  min-height: 682px;
}

.title {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .game {
    background-color: transparent;
    margin-left: 27px;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .game {
    margin-left: 0;
  }
}
