.photo_page {
  background-color: #c68ea1;
  min-height: 653px;
  padding-top: 30px;
}

.title {
  color: aliceblue;
  text-align: center;
  font-size: 40px;
}

.photo_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 0;
}

.photo_1 {
  border-radius: 10px;
  width: 230px;
  height: 400px;
}

.photo_2 {
  border-radius: 10px;
  width: 300px;
  height: 400px;
}

.photo_3 {
  border-radius: 10px;
  width: 230px;
  height: 400px;
}

.photo_4 {
  border-radius: 10px;
  width: 500px;
  height: 400px;
}

.photo_5 {
  border-radius: 10px;
  width: 700px;
  height: 400px;
}

.photo_6 {
  border-radius: 10px;
  width: 300px;
  height: 400px;
}

.photo_7 {
  border-radius: 10px;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .photo_page {
    background-color: transparent;
    margin-left: 35px;
  }
  .photo_4 {
    width: 315px;
    height: 220px;
  }
  .photo_5 {
    width: 315px;
    height: 225px;
  }
  .photo_7 {
    width: 315px;
    height: 350px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .photo_page {
    margin-left: 0;
  }
}
