.header {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(224, 217, 217, 0.338);
  backdrop-filter: blur(10px);
  padding: 0 40px;
  box-shadow: 0 5px 13px rgb(213, 127, 127);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  text-decoration: none;
  font-size: 23px;
  border: 1px dashed;
  border-radius: 50%;
  font-weight: 500;
  color: aliceblue;
  transition: box-shadow 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 5px 13px rgb(213, 127, 127);
}

.btn_rel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 35px;
  text-decoration: none;
  font-size: 23px;
  border: 1px dashed;
  border-radius: 7px;
  font-weight: 500;
  color: aliceblue;
  transition: box-shadow 0.3s ease-in-out;
}

.btn_rel:hover,
.btn_rel:focus {
  box-shadow: 0 5px 13px rgb(213, 127, 127);
}

.btn_game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
  text-decoration: none;
  font-size: 23px;
  border: 1px dashed;
  border-radius: 7px;
  font-weight: 500;
  color: aliceblue;
  transition: box-shadow 0.3s ease-in-out;
}

.btn_game:hover,
.btn_game:focus {
  box-shadow: 0 5px 13px rgb(213, 127, 127);
}

.btn_photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 35px;
  text-decoration: none;
  font-size: 23px;
  border: 1px dashed;
  border-radius: 7px;
  font-weight: 500;
  color: aliceblue;
  transition: box-shadow 0.3s ease-in-out;
}

.btn_photo:hover,
.btn_photo:focus {
  box-shadow: 0 5px 13px rgb(213, 127, 127);
}

@media screen and (max-width: 768px) {
  .header {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(224, 217, 217, 0.338);
    backdrop-filter: blur(10px);
    padding: 0 40px;
    box-shadow: 0 5px 13px rgb(213, 127, 127);
    min-width: 270px;
  }

  .btn_rel {
    display: none;
  }
  .btn_photo {
    display: none;
  }
}
