@import-normalize; /* bring in normalize.css styles */

body {
  background-color: #ffffff;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('../src/Pages/PhotoPage/images/love.jpg');
  background-size: cover;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
