.hello_Page_Container {
  margin-left: 40px;
  background-color: rgba(224, 217, 217, 0.338);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 155px;
  padding: 20px;
  height: 290px;
  width: 700px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

.title {
  border: 1px dashed;
  display: flex;
  width: 300px;
  margin: 0 auto;
  border-radius: 7px;
  justify-content: center;
  font-size: 40px;
  color: aliceblue;
  font-weight: 550;
  text-align: center;
  margin-bottom: 30px;
}

.list_item {
  width: 50px;
  transition: transform 0.3s ease;
}

.list_item:hover {
  transform: translateY(-20px);
}

.info {
  letter-spacing: 2px;
  color: aliceblue;
  font-size: 25px;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  padding: 3px;
  margin-bottom: 30px;
  width: 500px;
}

.nav_list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.nav_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 40px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 15px;
  font-weight: 500;
  border: 1px dashed;
  color: aliceblue;
  transition: box-shadow 0.3s ease-in-out;
}

.nav_item:hover,
.nav_item:focus {
  box-shadow: 0 5px 13px rgb(213, 127, 127);
}

.list_reg {
  margin-top: 30px;
  display: flex;
  gap: 25px;
}

.list_reg_item {
  letter-spacing: 2px;
  color: aliceblue;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 220px;
  height: 25px;
  border-radius: 12px;
}

.arrows {
  display: flex;
  margin-bottom: 10px;
  gap: 260px;
}

.arrow_one {
  font-size: 50px;
  color: aliceblue;
  rotate: -90deg;
}

.arrow_two {
  font-size: 50px;
  color: aliceblue;
  rotate: 50deg;
}

.phone_book:hover {
  rotate: 0deg;
  animation: rotateAnimation 1s ease-in-out;
}

.list {
  display: flex;
  gap: 80px;
}

.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 40px;
  text-decoration: none;
  border: 1px dashed;
  font-size: 25px;
  border-radius: 15px;
  font-weight: 500;
  color: aliceblue;
  transition: box-shadow 0.3s ease-in-out;
}

.login_btn:hover {
  box-shadow: 0 5px 13px rgb(213, 127, 127);
}

.my_contacts_btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: 40px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 7px;
  font-weight: 500;
  color: black;
  transition: box-shadow 0.3s ease-in-out;
}

.my_contacts_btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .hello_Page_Container {
    background-color: rgba(224, 217, 217, 0.338);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 10px;
    padding: 20px;
    height: 500px;
    width: 290px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
  }

  .info {
    letter-spacing: 1px;
    color: aliceblue;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin-bottom: 20px;
    width: 310px;
  }
}
