.reset_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  border-radius: 7px;
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif;
  border: 2px dashed #87c2f6;
  background-color: rgba(224, 217, 217, 0.338);
  backdrop-filter: blur(10px);
  color: aliceblue;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}

.reset_btn:hover {
  box-shadow: 0 5px 13px rgb(213, 127, 127);
}
